---
apiVersion: v1
kind: Service
metadata:
  name: homepage-service
  namespace: homepage
spec:
  selector:
    app: homepage
  type: LoadBalancer
  loadBalancerIP: 192.168.178.224
  ports:
    - port: 80
      targetPort: 3000
      name: http
      protocol: TCP
