apiVersion: v1
kind: Service
metadata:
  name: pgadmin-svc
  namespace: postgres
spec:
  type: LoadBalancer
  selector:
    app: pgadmin
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  loadBalancerIP: 192.168.178.227
