---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: tailscale
  labels:
    app: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      labels:
        app: tailscale
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: tailscale
          image: tailscale/tailscale:v1.92.4@sha256:d6734d69fd7d31b1861589e347463954aa6097f9a61aa4f8f763ba94bfe0e5b9
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 256Mi
          env:
            - name: TZ
              value: "Europe/Rome"
            - name: TS_STATE_DIR
              value: "/var/lib/tailscale"
            - name: TS_USERSPACE
              value: "false"
            - name: TS_DEBUG_MTU_UDP
              value: "1280"
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale-authkey
                  key: TS_AUTHKEY
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
          command: ["/bin/sh", "-c"]
          args:
            - |
              set -e
              sysctl -w net.ipv4.ip_forward=1
              sysctl -w net.ipv6.conf.all.forwarding=1
              tailscaled --state=/var/lib/tailscale/tailscaled.state &
              sleep 5
              tailscale up --login-server=https://headscale.redy1908homelab.com --authkey=${TS_AUTHKEY} --advertise-exit-node --advertise-routes=192.168.178.0/24 --snat-subnet-routes=true --accept-dns=false
              tailscale web --listen 0.0.0.0:8080
          volumeMounts:
            - name: tailscale-storage
              mountPath: /var/lib/tailscale
            - name: tun-device
              mountPath: /dev/net/tun
      volumes:
        - name: tailscale-storage
          persistentVolumeClaim:
            claimName: tailscale-pvc
        - name: tun-device
          hostPath:
            path: /dev/net/tun
