---
apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy-manager-service
  namespace: nginx-proxy-manager
  annotations:
    metallb.universe.tf/allow-shared-ip: nginx-proxy-manager-svc
spec:
  loadBalancerIP: 192.168.178.221
  selector:
    app: nginx-proxy-manager
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
    - name: admin
      port: 81
      targetPort: 81
      protocol: TCP
