---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich
  namespace: immich
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich
  template:
    metadata:
      labels:
        app: immich
    spec:
      containers:
        - name: immich
          image: ghcr.io/immich-app/immich-server:v2.4.1
          ports:
            - containerPort: 2283
          env:
            - name: DB_HOST
              value: "postgres.postgres.svc.cluster.local"
            - name: DB_PORT
              value: "5432"
          envFrom:
            - secretRef:
                name: immich-secret
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          volumeMounts:
            - name: immich-data
              mountPath: /usr/src/app/upload
      volumes:
        - name: immich-data
          persistentVolumeClaim:
            claimName: immich-pvc
