---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole
  namespace: pihole
  labels:
    app: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
        - name: pihole
          image: pihole/pihole:2025.11.1@sha256:91dc91ddd413bf461c283204558f8f21839851e9824799075a7ceff7c77eea40
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          env:
            - name: TZ
              value: Europe/Rome
            - name: FTLCONF_webserver_api_password
              valueFrom:
                secretKeyRef:
                  name: pihole-secret
                  key: password
            - name: FTLCONF_dns_listeningMode
              value: all
            - name: FTLCONF_dns_rateLimit_interval
              value: "60"
            - name: FTLCONF_dns_rateLimit_count
              value: "3600"
          volumeMounts:
            - name: pihole-storage
              mountPath: /etc/pihole
      volumes:
        - name: pihole-storage
          persistentVolumeClaim:
            claimName: pihole-pvc
