---
apiVersion: v1
kind: Service
metadata:
  name: pihole-service
  namespace: pihole
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-svc"
spec:
  externalTrafficPolicy: Local
  loadBalancerIP: 192.168.178.220
  selector:
    app: pihole
  type: LoadBalancer
  ports:
    - name: dns-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: dns-tcp
      port: 53
      protocol: TCP
      targetPort: 53
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
