apiVersion: v1
kind: Service
metadata:
  name: minio-svc
  namespace: minio
spec:
  type: LoadBalancer
  selector:
    app: minio
  ports:
    - name: api
      port: 9000
      targetPort: 9000
    - name: console
      port: 9001
      targetPort: 9001
  loadBalancerIP: 192.168.178.228
